.hero-area {
    padding: 0px 100px;
}
.hero-area .block h1 {
    font-size: 70px;
}
.hero-area .block p {
    font-size: 40px;
}
.title-h2-span {
    color: #353b43;
}
.rounded-circle {
    border-radius: 5%!important;
}
.white-bg {
    color: #ffffff;
}
.whitep {
    color: #ffffff!important;
  }
 .container .title #author {
    color: #ffffff !important;
  }
  .h2author{
      color: #ffffff!important;
  }
  #footer {
      background: black!important;
  }
.author {
color: #ffffff!important;
}

.author .title h2,
.author .title h2 * {
    color: #ffffff;
}

.v-portfolio .shuffle-item--visible img {
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.lozad {
    min-height: 130px;
}

@media screen and (max-width: 767px) {
    .v-portfolio .shuffle-item--visible img {
        max-height: 350px;
        height: auto;
    }
}
.title-h2 {
    color: #292F36!important;
}